@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=League+Spartan:wght@500;700&family=Rubik:wght@400;500;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
}

.body {
  /* height: 100vh; */
  height: 3000px;
}

/* Header */
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
 
h1 {
  color: white;
  letter-spacing: 10px;
  padding-top: 6px;
}

header {
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  transition: all 0.4s;
}

/* * Dark theme */
.dark-theme {
  background-image: url("./images/bg-desktop-dark.jpg");
}

.dark {
  background-color: hsl(235, 21%, 11%);
  transition: all 0.4s;
}

.dark-hover {
  filter: invert(100%) sepia(1%) saturate(4082%) hue-rotate(222deg) brightness(113%) contrast(101%);
}

.theme-toggle.dark-hover:hover {
  filter: invert(61%) sepia(8%) saturate(7186%) hue-rotate(4deg) brightness(109%) contrast(103%);
}

.todo-dark-bg {
  background-color: hsl(235, 24%, 19%);
  transition: all 0.4s;
}

.todo-dark-text {
  color: hsl(234, 39%, 85%);
  transition: all 0.4s;
}

.todo-dark-filter-text {
  color: hsl(233, 14%, 35%);
  transition: all 0.4s;
}

.todo-dark-bottom-border {
  border-bottom: 1px solid hsl(231, 11%, 26%);
  transition: all 0.4s;
}

.todo-dark-close {
  color: hsl(237, 14%, 26%);
}

.toggle-dark-border {
  border-color: rgb(85, 85, 85);
}

.h5-dark-text:hover {
  color: white;
}

.checked-through.dark-check-through {
  color: hsl(235, 19%, 35%);
}

.dark-shadow {
  box-shadow: 0 10px 0 10px red, 0 20px 0 20px green, 0 30px 0 30px blue;
}
/* * Light theme */
.light-theme {
  background-image: url("./images/bg-desktop-light.jpg");
}

.light-hover {
  filter: invert(100%) sepia(1%) saturate(4082%) hue-rotate(222deg) brightness(113%) contrast(101%);
}

.theme-toggle.light-hover:hover {
  filter: invert(14%) sepia(44%) saturate(3757%) hue-rotate(227deg) brightness(94%) contrast(104%);
}

.light {
  background-color: hsl(236, 33%, 92%);
  transition: all 0.4s;
}

.todo-light-bg {
  background-color: hsl(0, 0%, 98%);
  transition: all 0.4s;
}

.todo-light-text {
  color: hsl(235, 19%, 35%);
  transition: all 0.4s;
}

.todo-light-filter-text {
  color: hsl(236, 9%, 61%);
  transition: all 0.4s;
}

.todo-light-bottom-border {
  border-bottom: 1px solid hsl(233, 11%, 84%);
  transition: all 0.4s;
}

.todo-light-close {
  color: hsl(236, 9%, 61%);
}

.toggle-light-border {
  border-color: hsl(236, 33%, 92%);
}

.h5-light-text:hover {
  color: hsl(235, 19%, 35%);
}

.checked-through.light-check-through {
  color: hsl(233, 11%, 84%);
}
/* */
.title-container {
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle {
  width: 20px;
  cursor: pointer;
}

/* Input */
/* ! pwede ang url() sa content para makalagay tayo ng images */
.input-container {
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-container, .todos-container {
  box-sizing: border-box;
  width: 430px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.todos-container:nth-child(1) {
  border-radius: 4px 4px 0 0;
}

.todos-container:last-child {
  border-radius: 0 0 4px 4px;
  border: none;
}

input[type=text] {
  height: inherit;
  font-size: 0.9rem;
  flex: 1;
  /* ! para matangal yung excess na width at height */
  padding: 0;
  border: none;
}

input[type=text]:focus {
  outline: none;
}

::placeholder {
  font-size: 0.9rem;
}

.toggle-container {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin: 0 20px 0 15px;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox]:checked .toggle-container + .todo-item {
  text-decoration: line-through;
}

.toggle-appear {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

input[type=checkbox]:checked + .toggle-appear {
  background-image: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
}

input[type=checkbox]:checked + .toggle-appear::before {
  content: url("./images/icon-check.svg");
  position: absolute;
  top: 3px;
  left: 4px;
} 

/* Todo items */
.todo-item {
  flex: 1;
}

.close-button {
  font-weight: 300;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  transition: all 0.4s;
}

.todos-container:hover .close-button {
  display: block;
}
/* ! CSS lang pala fffFFFfFFF! :/ */
.checked-through {
  text-decoration: line-through;
}

.manipulate-cont p {
  font-size: 0.8rem;
}

.manipulate-cont {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.manipulate-cont h5:hover {
  cursor: pointer;
}

.middle-cont {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.todos-left {
  pointer-events: none;
}

.focused {
  color: hsl(220, 98%, 61%);
}

.items-left {
  pointer-events: none;
}

.clear:hover {
  color: rgb(187, 187, 187);
  cursor: pointer
}
/* Styles for dragging */
.draggable {
  cursor: move;
}

.dragging {
  opacity: 0.5;
}

.todos-body {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}
